@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: Titillium;
    src: url("../fonts/TitilliumWeb-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Medieval;
    src: url("../fonts/MedievalSharp-Regular.ttf") format("truetype");
}